html
    head
        title Login

    body
        include ../partials/header
        h1 Log In
        form(action="/login" method="post")
            | Username:
            input(type="text" name="username" required="")
            br
            | Password:
            input(type="password" name="password" required="")
            br
            button(type="submit") Login