html
    head
        title Order Form
        style.
          .column {
            float: left;
          }

          .left {
            width: 10%;
          }

          .right {
            width: 25%;
          }

          .middle {
            width: 65%;
          }

    body(onload="init()")
        include ../partials/header

        label(for='restaurant-select')
        select#restaurant-select
        br
        br
        #info
        #main
            #left.column.left
            #middle.column.middle
            #right.column.right
        script(src='orderform.js')